---
import { Icon } from 'astro-icon';
---

<div>
	<a
		class="text-white sm:mb-0 w-full mr-4"
		href="https://www.ntk.nl/bestel/figi%2Fvoorstelling%2Fjubileumconcert-The-lord-of-the-rings/2022-11-19/19h30/212350454812?fc=theater"
		target="_blank"
		rel="noopener">
		<button
			class="bg-white inline mx-auto lg:mx-0 hover:underline  text-gray-800 font-bold rounded-full py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
		>
			<Icon name="tabler:ticket" class="inline w-5 h-4 mr-1" />Koop tickets!
		</button>
	</a>
</div>
