---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import MeerInfo from '~/components/widgets/MeerInfo.astro';
import { Image } from '@astrojs/image/components';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<!--Nav-->
	<nav id="header" class="fixed w-full z-30 top-0 text-white">
		<div class="w-full container mx-auto flex items-center justify-between mt-0 py-2">
			<a class="toggleColour text-white no-underline hover:no-underline font-bold" href="#">
				<div class="pl-4 flex items-center">
					<img id="logo-wit" class="h-14" src="/kzhm-wit.png" />
					<img id="logo" class="hidden h-14" src="/kzhm.png" />
				</div>
			</a>
			<CallToAction
				style="mx-auto hover:underline text-gray-800 font-bold rounded-full mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
			/>
		</div>
		<hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
	</nav>
	<!--Hero-->
	<div class="pt-24">
		<div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
			<!--Left Col-->
			<div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
				<p class="uppercase tracking-loose w-full">Lustrumconcert | za 19 november '22 | figi</p>
				<h1 class="my-4 text-5xl font-bold leading-tight">In de ban van de muziekshow</h1>
				<p class="leading-normal text-2xl mb-8">De Zeister harmonie bestaat 140 jaar!</p>
				<CallToAction
					style="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
				/>
			</div>
			<!--Right Col-->
			<div class="w-full md:w-3/5 p-8 md:p-16 text-center">
				<Image src={import('../assets/images/stuff/zand-lotr-promo.jpg')} alt="descriptive text" />
			</div>
		</div>
	</div>
	<div class="relative -mt-12 lg:-mt-24">
		<svg
			viewBox="0 0 1428 174"
			version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
		>
			<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g class="fill-gray-100" transform="translate(-2.000000, 44.000000)" fill-rule="nonzero">
					<path
						d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
						opacity="0.100000001"></path>
					<path
						d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
						opacity="0.100000001"></path>
					<path
						d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
						id="Path-4"
						opacity="0.200000003"></path>
				</g>
				<g class="fill-gray-100" transform="translate(-4.000000, 76.000000)" fill-rule="nonzero">
					<path
						d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"
					></path>
				</g>
			</g>
		</svg>
	</div>

	<section class="bg-gray-100 border-b py-8">
		<div class="container max-w-5xl mx-auto m-8">
			<h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Line up</h2>
			<div class="w-full mb-4">
				<div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
			</div>
			<div class="flex flex-wrap items-center">
				<div class="w-5/6 sm:w-1/2 p-6">
					<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Zandprinses Rosa van der Vijver</h3>
					<div class="text-gray-600 mb-8">
						De Zandprinses gooit, strooit en schuift met zand op een lichtplaat en laat op betoverende wijze allerlei
						tekeningen verschijnen. Voor dit concert maakt zij prachtige tekeningen van het beroemde verhaal van J.R.R.
						Tolkien.
						<MeerInfo link="https://www.dezandprinses.nl/" linkTekst="dezandprinses.nl" />
					</div>
				</div>
				<div class="w-full sm:w-1/2 p-6">
					<Image src={import('../assets/images/stuff/zandprinses.jpg')} alt="descriptive text" />
				</div>
			</div>
			<div class="flex flex-wrap flex-col-reverse sm:flex-row items-center">
				<div class="w-full sm:w-1/2 p-6 mt-6">
					<Image src={import('../assets/images/stuff/frans-limburg.jpg')} alt="descriptive text" />
				</div>
				<div class="w-full sm:w-1/2 p-6 mt-6">
					<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Verteller Frans Limburg</h3>
					<div class="text-gray-600 mb-8">
						Met ervaring als zanger, acteur, schrijver, vertaler en presentator is het lastig om in één woord te zeggen
						wat Frans precies doet. In deze show vertelt hij het meeslepende verhaal van de Lord of the Rings.
						<MeerInfo link="https://www.franslimburg.nl/" linkTekst="franslimburg.nl" />
					</div>
				</div>
			</div>
			<div class="flex flex-wrap items-center">
				<div class="w-5/6 sm:w-1/2 p-6">
					<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Zangeres Laura ten Hoedt</h3>
					<div class="text-gray-600 mb-8">
						Met passie voor muziek en singing/songwriting is Laura de aangewezen persoon om onderdeel te zijn van deze
						muzikale show.
						<MeerInfo link="https://about.me/lauratenhoedt" linkTekst="about.me/lauratenhoedt" />
					</div>
				</div>
				<div class="w-full sm:w-1/2 p-6 flex justify-center">
					<Image src={import('../assets/images/stuff//laura-ten-hoedt.jpg')} height="300" alt="descriptive text" />
				</div>
			</div>
			<div class="flex flex-wrap flex-col-reverse sm:flex-row items-center">
				<div class="w-full sm:w-1/2 p-6 mt-6">
					<Image src={import('../assets/images/stuff/tdw.jpg')} alt="descriptive text" />
				</div>
				<div class="w-full sm:w-1/2 p-6 mt-6">
					<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">Zanger Tom de Wit</h3>
					<div class="text-gray-600 mb-8">
						Is van alle markten thuis: schrijver, zanger, composer, streamer, podcastmaker enz. In deze show zal hij
						zijn ruige stemgeluid ten gehore brengen.
						<MeerInfo link="https://tdwprog.com/" linkTekst="tdwprog.com" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="bg-white border-b py-8">
		<div class="container mx-auto flex flex-wrap pt-4 pb-12">
			<h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Het orkest</h2>
			<div class="w-full mb-4">
				<div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
			</div>
			<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
				<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
					<p class="w-full text-gray-600 text-xs md:text-sm px-6">Gedreven leider</p>
					<div class="w-full font-bold text-xl text-gray-800 px-6">Dirigent Bert Willemsen</div>
					<div class="text-gray-800 text-base px-6 mb-5">
						Bert Willemsen studeerde HaFaBra-directie en Trombone aan het conservatorium van de Hogeschool Alkmaar. Hij
						dirigeert diverse orkesten en is werkzaam als trombonist, tubaïst en (bas)gitarist. Sinds 2019 dirigeert hij
						vol passie het KZHM.
						<MeerInfo link="https://bertwillemsen.nl/" linkTekst="bertwillemsen.nl" />
					</div>
					<Image src={import('../assets/images/stuff/bert.jpg')} alt="descriptive text" />
				</div>
			</div>
			<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
				<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
					<p class="w-full text-gray-600 text-xs md:text-sm px-6">70 muzikale sterren</p>
					<div class="w-full font-bold text-xl text-gray-800 px-6">(Project)Orkest</div>
					<div class="text-gray-800 text-base px-6 mb-5">
						De Zeister harmonie (KZHM) is een muziekvereniging met drie orkesten. Samen muziek maken en gezelligheid
						staan voorop. Het grootorkest bestaat normaal uit ongeveer 35 leden. Voor deze spetterende show worden we
						ondersteund door een fantastisch projectorkest.
						<MeerInfo link="https://www.kzhm.nl" linkTekst="kzhm.nl" />
					</div>
					<Image src={import('../assets/images/stuff/orkest2.jpg')} alt="descriptive text" />
				</div>
			</div>
			<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
				<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
					<p class="w-full text-gray-600 text-xs md:text-sm px-6">Voorprogramma</p>
					<div class="w-full font-bold text-xl text-gray-800 px-6">Leerlingenorkest</div>
					<p class="text-gray-800 text-base px-6 mb-5">
						Zodra je je instrument ongeveer een jaar bespeelt kun je meespelen met ons Leerlingenorkest. Zij verzorgen
						het voorprogramma. Voor leerlingen die net kunnen spelen is er het Opstaporkest.
					</p>
					<Image src={import('../assets/images/stuff/llo.jpg')} alt="descriptive text" />
				</div>
			</div>
		</div>
	</section>
	<section class="bg-gray-100 py-8">
		<div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
			<h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Alles op een rijtje</h2>
			<div class="w-full mb-4">
				<div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
			</div>
			<div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4">
				<div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
					<div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
						<div class="p-8 text-3xl font-bold text-center border-b-4">Info</div>
						<ul class="w-full text-center text-sm">
							<li class="border-b py-4">Theather Figi Zeist (grootste zaal)</li>
							<li class="border-b py-4">Zaterdag 19 november 2022</li>
						</ul>
					</div>
				</div>
				<div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-lg bg-white mt-4 sm:-mt-6 shadow-lg z-10">
					<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
						<div class="w-full p-8 text-3xl font-bold text-center">Programma</div>
						<div class="h-1 w-full gradient my-0 py-0 rounded-t"></div>
						<ul class="w-full text-center text-base font-bold">
							<li class="border-b py-4">19:15 <br /> Leerlingenorkest</li>
							<li class="border-b py-4">
								20:00 <br /> Symfonie no. 1 "The Lord of the Rings" van Johan de Meij <br /> (met verteller en de zandprinses!)
							</li>
							<li class="border-b py-4">21:00 <br /> Pauze</li>
							<li class="border-b py-4">21:15 <br /> Non-stop spetterende muziekshow <br />(met zangers!)</li>
						</ul>
					</div>
				</div>
				<div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
					<div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
						<div class="p-8 text-3xl font-bold text-center border-b-4">Prijzen</div>
						<ul class="w-full text-center text-sm">
							<li class="border-b py-4">€25,00</li>
							<li class="border-b py-4">€12,50 (CJP/STUDENT/65+)</li>
							<li class="border-b py-4">Excl. €3,25 reserveringskosten Figi per bestelling</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<svg
		viewBox="0 0 1439 147"
		version="1.1"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
	>
		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
				<g class="wave fill-gray-100">
					<path
						d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z"
					></path>
				</g>
				<g transform="translate(1.000000, 15.000000)" fill="#FFFFFF">
					<g transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) ">
						<path
							d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
							opacity="0.100000001"></path>
						<path
							d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
							opacity="0.100000001"></path>
						<path
							d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
							opacity="0.200000003"></path>
					</g>
				</g>
			</g>
		</g>
	</svg>
	<section class="container mx-auto text-center py-6 mb-12">
		<h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-white">Koop nu uw tickets</h2>
		<div class="w-full mb-4">
			<div class="h-1 mx-auto bg-white w-1/6 opacity-25 my-0 py-0 rounded-t"></div>
		</div>
		<h3 class="my-4 text-3xl leading-tight">Voor een avond vol belevenissen en muziek</h3>
		<CallToAction />
	</section>

	<script>
		var scrollpos = window.scrollY;
		var header = document.getElementById('header');
		var logo = document.getElementById('logo');
		var logowit = document.getElementById('logo-wit');
		var toToggle = document.querySelectorAll('.toggleColour');

		document.addEventListener('scroll', function () {
			/*Apply classes for slide in bar*/
			scrollpos = window.scrollY;
			if (scrollpos > 10) {
				logowit.classList.add('hidden');
				logo.classList.remove('hidden');
				header.classList.add('bg-gray-100');
				//Use to switch toggleColour colours
				for (var i = 0; i < toToggle.length; i++) {
					toToggle[i].classList.add('text-gray-800');
					toToggle[i].classList.remove('text-white');
				}
				header.classList.add('shadow');
			} else {
				logo.classList.add('hidden');
				logowit.classList.remove('hidden');
				header.classList.remove('bg-gray-100');
				//Use to switch toggleColour colours
				for (var i = 0; i < toToggle.length; i++) {
					toToggle[i].classList.add('text-white');
					toToggle[i].classList.remove('text-gray-800');
				}

				header.classList.remove('shadow');
			}
		});
	</script>
</Layout>
