---
import '~/assets/styles/base.css';

import MetaTags from '~/components/core/MetaTags.astro';
import BasicScripts from '~/components/core/BasicScripts.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth 2xl:text-[20px]">
	<head>
		<MetaTags {...meta} />
	</head>

	<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
		<slot />
		<BasicScripts />
		<style is:global>
			.gradient {
				background: linear-gradient(90deg, #009a77 0%, #2f4858 100%);
			}
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
